@import "tailwindcss";

@font-face {
  font-family: 'Acony';
  src: url('./assets/fonts/AKONY.ttf') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bounded';
  src: url('./assets/fonts/Bounded-Regular.ttf') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}