@import "tailwindcss";

@font-face {
  font-family: 'Acony';
  src: url('./assets/fonts/AKONY.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bounded';
  src: url('./assets/fonts/Bounded-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.acony-font {
    font-family: "Acony", sans-serif;
}
.bounded-font {
    font-family: "Bounded", sans-serif;
}

.main-background {
    background-image: url(./assets/image/background.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.logo {
    background-image: url(./assets/icon/logo.svg);
}

.tarif-1, .tarif-2 {
    transition: 0.3s;
}
.tarif:hover .tarif-1,
.tarif:hover .tarif-2 {
    background: rgba(210, 0, 255, 0.1);
    border-color: #d200ff;
}
.active {
    background: rgba(210, 0, 255, 0.1);
    border-color: #d200ff;
}

.crown:nth-child(2) {
    position: relative;
} 
.crown:nth-child(2)::before {
    content: url(./assets/icon/tarifs/crown.svg);
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #d200ff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    left: -7px;
}