@import "tailwindcss";

@font-face {
  font-family: 'Acony';
  src: url('./assets/fonts/AKONY.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bounded';
  src: url('./assets/fonts/Bounded-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.acony-font {
    font-family: "Acony", sans-serif;
}
.bounded-font {
    font-family: "Bounded", sans-serif;
}

.main-background {
    background-color: #202020;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo {
    background-image: url(./assets/icon/logo.svg);
}