@use './helpers' as *;

body {
    font-family: var(--font-family);
    font-weight: 400;
    color: var(--color-white);
}

.main-container {
    padding-top: rem(25);
}

.button {
    display: inline-flex;
    align-items: center;
    border: none;
    cursor: pointer;
}

a, input, button {
    color: inherit;
}

h1, .h1 {
    font-weight: 700;
    font-size: rem(24);
    text-align: left;
}

h2, .h2 {
    font-weight: 700;
    font-size: rem(22);
}