@use './helpers' as *;

body {
    font-family: var(--font-family);
    font-weight: 400;
    color: var(--color-white);
    font-size: rem(14);
}

.main-container {
    padding-top: rem(25);
}

.button {
    background-color: transparent;
    display: inline-flex;
    align-items: center;
    border: none;
    cursor: pointer;
}

a, input, button {
    color: inherit;
}

h1, .h1 {
    font-weight: 700;
    font-size: rem(24);
    text-align: left;
}

h2, .h2 {
    font-weight: 700;
    font-size: rem(22);
}

h3, .h3 {
    font-weight: 700;
    font-size: rem(16);
}

h4, .h4 {
    font-weight: 300;
    font-size: rem(20);
}

@supports(interpolate-size: allow-keywords){
    :root {
        interpolate-size: allow-keywords;
    }
    [open]::details-content {
        height: auto;
    }
}

::details-content {
    transition: height 0.5s ease, content-visibility 0.5s ease allow-discrete;
    height: 0;
    overflow: clip;
}