@use './helpers' as *;
@use './fonts';

:root {
    --font-family: "Manrope", sans-serif;

    --background-color-main: #892c97;
    --background-color-black: #000;
    --background-block: rgba(21, 21, 21, 0.5);

    --color-white: #fff;

    --border-block: #{rem(1)} solid rgba(255, 255, 255, 0.2);

    --border-radius-1: #{rem(1)};
    --border-radius-5: #{rem(5)};
    --border-radius-10: #{rem(10)};
    --border-radius-11: #{rem(11)};
    --border-radius-14: #{rem(14)};
    --border-radius-15: #{rem(15)};
    --border-radius-20: #{rem(20)};
    --border-radius-22: #{rem(22)};
    --border-radius-25: #{rem(25)};
    --border-radius-26: #{rem(26)};
    --border-radius-30: #{rem(30)};
    --border-radius-full: 100%;

    --container-width: #{rem(450)};
    --padd-x: #{rem(10)};

    --transition-duration: 0.3s;
}