@use '../helpers' as *;

.burger__menu {
    width: 20px;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: rem(5);
    background-color: transparent;
    border: none;
    cursor: pointer;

    &-line {
        width: 100%;
        height: rem(2);
        border-radius: var(--border-radius-1);
        background: rgba(255, 255, 255, 0.2);
    }
}