@use '../helpers/' as *;

.footer {
    width: 100%;
    margin-top: rem(25);
    display: inline-flex;
    align-items: center;
    height: rem(84);
    backdrop-filter: blur(5px);
    background: rgba(21, 21, 21, 0.5);
    border-radius: var(--border-radius-26);
    margin-top: auto;
    position: sticky;
    bottom: 0;

    &__row {
        margin: 0 auto;
        height: 100%;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    &__menu {
        &-list {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            // padding-inline: rem(8);
        }

        &-button {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: transparent;
            color: var(--color-white);
            border: none;
            font-size: rem(12);
            padding-inline: rem(15);
        }
    }

    &__indicator {
        position: absolute;
        left: 0;
        height: 85%;
        background: #2b0f28;
        border-radius: var(--border-radius-22);
        transition: left 0.3s ease, width 0.3s ease;
        pointer-events: none;
        z-index: -1;
    }
}