@use '../helpers/' as *;

.footer {
    width: 100%;
    margin-top: rem(25);
    display: inline-flex;
    align-items: center;
    height: rem(84);
    backdrop-filter: blur(5px);
    background: var(--background-block);
    border-radius: var(--border-radius-26);
    margin-top: auto;
    position: sticky;
    bottom: 0;

    &__row {
        max-width: rem(480);
        margin: 0 auto;
        overflow: hidden;
        height: 100%;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    &__menu {
        
        &-list {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &-button {
            width: rem(90);
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: rem(5);
            background-color: transparent;
            color: rgba(186, 89, 171, 0.7);
            border: none;
            font-size: rem(12);
            font-weight: 700;
            padding-inline: rem(5);

            & p {
                color: rgba(200, 154, 193, 0.7); 
            }

            &.active, &.active p {
                color: var(--color-white);
            }
        }
    }

    &__indicator {
        position: absolute;
        left: 0;
        height: 85%;
        border: rem(1) solid #892c97;
        border-radius: var(--border-radius-22);
        transition: left var(--transition-duration) ease, width var(--transition-duration) ease;
        pointer-events: none;
        z-index: -1;     
    }
}