@use '../helpers/' as *;

.header {
    width: 100%;
    display: inline-flex;
    align-items: center;
    height: rem(70);
    backdrop-filter: blur(5px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    position: sticky;
    top: 0;
    z-index: 1000;

    &__row {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        display: flex;
        align-items: center;
        gap: rem(10);
        font-size: rem(16);
    }

    &__button {
        
        &-link {
            padding-inline: rem(13);
            height: rem(38);
            border: rem(1) solid rgba(137, 44, 151, 0.7);
            border-radius: var(--border-radius-10);
            background: rgba(137, 44, 151, 0.1);
            text-decoration: none;
            gap: rem(10);
            font-weight: 600;
            font-size: rem(16);
        }
    }
}