@use '../helpers/' as *;

.wrapper {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url(/src/assets/image/background.svg);
    background-size: cover;
    background-repeat: no-repeat;
}