@use '../helpers/' as *;

.notification {
    position: absolute;
    right: 0;
    white-space: nowrap;
    animation: fadeInOut 1.5s ease forwards;
    pointer-events: none;
}

@keyframes fadeInOut {
    0% { opacity: 0; transform: translateY(10px); }
    20% { opacity: 1; transform: translateY(0); }
    80% { opacity: 1; transform: translateY(0); }
    100% { opacity: 0; transform: translateY(-10px); }
}