@use '../helpers/' as *;

@mixin badge-styles {
    border-radius: var(--border-radius-14);
    background-color: var(--background-color-main);
    padding-block: rem(5);
    font-weight: 700;
    top: 0;
}

.subscription__tariffs-list {

    &--subscription {
        
        li:nth-child(2) {
            position: relative;

            &::after {
                content: var(--badge-label);
                left: 30%;
                @include abs-center;
                @include badge-styles;
                padding-inline: rem(20);
            }
        }
    }

    &--gift {

        li:nth-child(3) {
            position: relative;

            &::after {
                content: var(--badge-label);
                left: 25%;
                @include abs-center;
                @include badge-styles;
                padding-inline: rem(13);
            }
        }
    }
}

