@use '../helpers/' as *;

.ref {
    width: 100%;
    
    &-level {
        border: var(--border-block);
        border-radius: var(--border-radius-20);
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: rem(30);
        padding-block: rem(20);
        color: red;
        background-color: red;
        
        &__label {
            color: var(--color-white);
        }

        &__name {
            font-weight: 700;
            font-size: rem(32);
            color: currentColor;
            filter: brightness(50%);
        }
    
        &__percent {
            font-weight: 500;
            font-size: rem(20);
            color: var(--color-white);
        }
    
        &__next {
            font-weight: 500;
            font-size: rem(16);
            color: rgba(255, 255, 255, 0.5);
            padding-bottom: rem(10);
        }
    }
}

// .ref-level .partner-profile__badge--level {
//    background-color: currentColor;
//    color: currentColor;
// }