@use '../helpers/' as *;

.subscription {

    &__inner {
        width: 100%;
    }

    &__active {
        margin-top: rem(15);
        position: relative;
        background: var(--background-block);
        height: rem(244);
        border: rem(1) solid var(--background-color-main);
        border-radius: var(--border-radius-20);

        &::after {
            content: url(/src/assets/image/tariffs/fox-back.svg);
            @include abs-center;
        }

        &-info {
            height: 100%;
            @include flex-center;
            flex-direction: column;
            text-align: center;
            gap: rem(30);
        }

        &-subtitle {
            font-weight: 700;
            font-size: rem(22);
        }

        &-date {
            font-size: rem(20);
            color: rgba(255, 255, 255, 0.4);
        }

        &-list {
            width: rem(325);
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &-item {
            @include square(75);
            display: flex;
            flex-direction: column;
        }

        &-details {

            &-value {
                position: relative;
                font-weight: 700;
                font-size: rem(40);
            }

            &-label {
                font-size: rem(15);
                color: #9f9f9f;
            }

        }

        &-none {
            height: 100%;
            @include flex-center;
            color: rgba(255, 255, 255, 0.8);
        }
    }

    &__tariffs {
        margin-top: rem(25);
        padding: rem(20) rem(25);
        background: var(--background-block);
        border: var(--border-block);
        border-radius: var(--border-radius-20);

        &-list {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: rem(20);
            margin-top: rem(20);
        }

        &-item {
            border: var(--border-block);
            border-radius: var(--border-radius-10);
            padding: rem(20);
            display: flex;
            flex-direction: column;
            gap: rem(15);
            background: var(--background-block);
        }

        &-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &-features {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: rem(20);
            font-weight: 700;
            font-size: rem(18);
            color: rgba(255, 255, 255, 0.5);

            & span {
                display: flex;
                align-items: center;
                gap: rem(5);
                white-space: nowrap;
            }
        }

        &-button {
            background-color: var(--background-color-main);
            height: rem(43);
            border-radius: var(--border-radius-10);
            color: var(--color-white);
            width: 100%;
            justify-content: center;
            transition: var(--transition-duration);

            &:hover {
                box-shadow: 0 4px 4px 0 rgba(137, 44, 151, 0.25);
            }
        }
    }
}